:root {
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --primary-text-color: #212121;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 1200px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*Создан общий вспомогательный класс 
  .container для центрирования и ограничения контента по ширине. 
  Ширина «контейнера» соответствует макету и равна 1200px.
  «Контейнер» оборачивает контент хедера,
    футера и секций. То есть находится внутри них.*/
 }

.section { 
  padding-top: 94px; 
  padding-bottom: 94px;
}
.remove-padding-part {
  padding-top: 0;
}

header {
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-color: rgba(236, 236, 236, 0.7);
  border-bottom-style: solid;
}
.header-items {
  display: flex;
  justify-content: space-around;
  padding: 25px 15px;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
}
.logostudiotop {
  color: var(--primary-text-color);
}
.logostudiobottom {
  color: #FFFFFF;
}
.navlist {
  list-style-type: none;
  display: flex;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.sitenav + .sitenav {
  margin-left: 50px;
}
.sitenavlink {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.sitenavlink:hover,
.sitenavlink:focus {
  color: var(--accent-color);
}
.contacts-wrapper {
  display: flex;
  margin-left: auto;
}
.contacts {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus,
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}

.contacts + .contacts {
  margin-left: 50px;
}

button {
  cursor: pointer;
}

/* Page index */ 
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
    to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../images/imghero.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
  width: 696px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
.hero-button {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
}

.list-gen-setting {
  list-style-type: none;
  display: flex;
  margin: 0;
  }

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.benefits-item {
  margin-top: 0;
  margin-bottom: 0;
  width: 270px;
}
.benefits-item + .benefits-item {
  margin-left: 30px;
}
.benefits-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.benefits-description {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.what-we-do-section {
  background-color: #FFFFFF;
  padding-top: 0;
  margin-top: 0;
}
.what-we-do-image {
  display: block;
  width: 370px;
}
.what-we-do-list {
  padding-left: 0;
  padding-right: 0;
}
.what-we-do-list > li {
  margin-left: auto;
  margin-right: auto;
}
.what-we-do-list > li + li {
  margin-left: 30px;
}

.what-we-do-title,
.our-team-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
.our-team-box {
  padding: 30px 0;
  background-color: rgba(255, 255, 255, 1);
}

.our-team-list {
  justify-content: center;
}
.our-team {
  background-color: #F5F4FA;
}
.our-team-item + .our-team-item {
  margin-left: 30px;
}
.our-team-item > img {
  display: block;
}
.our-team-names {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}
.our-team-position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Page portfolio */
.our-works-list {
  justify-content: center;
  margin-bottom: 50px;
}
.our-works-filter {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  padding: 6px 22px;
}
.our-works-filter:hover,
.our-works-filter:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
}
.our-works-item + .our-works-item {
  margin-left: 8px;
}
.work-examples-list {
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.work-examples-list > li {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.work-examples-list li > a > img {
  display: block;
}
.work-examples-box {
  border: 1px solid rgba(238, 238, 238, 1);
  padding: 20px 24px;
}
.work-examples-name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-examples-type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  margin-top: 4px;
}
/* Footer */
footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-footer {
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-top: 20px;
}
.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  margin-top: 9px;
}
/*hover and focus are withing the header contact settings */